{% extends "base/base.html" %}

{% block body %}
<h1>Homepage for precious metals</h1>
<p><a href="{% url "metal_create" %}">+ Add new</a></p>
{% for metal in object_list %}
        <p>{{ metal.item }} -> {{ metal.value }} USD    note:
            {% if metal.note == None %}
                <span>there is no note</span>
            {% else %}
                <span>{{ metal.note }}</span>
            {% endif %}
        <span>
            <a href="{% url "metal_delete" metal.id %}">Delete</a>
        </span>
        </p>
    {% endfor %}
{% endblock body %}