{% extends "base/base.html" %}

{% block body %}
<p>Homepage for precious metals</p>
<p><a href="{% url "metal_create" %}">create</a></p>

<h1>list of metals:</h1>
{% for metal in object_list %}
        <p>{{ metal.item }} -> {{ metal.value }} USD    note:
            {% if metal.note == None %}
                <span>there is no note</span>
            {% else %}
                <span>{{ metal.note }}</span>
            {% endif %}
        </span>
        </p>
    {% endfor %}
{% endblock body %}