{% extends "base/base.html" %}

{% block body %}

<p>Your portfolio contains:</p>
<p>{{ precious_metals_count_of_items }} precious metals in total value {{ precious_metals_sum_of_values }}</p>
<p>{{ real_estates_count_of_items }} real estates in total value {{ real_estates_sum_of_values }}</p>
<p>{{ cryptocurrencies_count_of_items }} cryptocurrencies in total value {{ cryptocurrencies_sum_of_values }}</p>
<p>{{ cash_count_of_items }} items in Cash in total value {{ cash_sum_of_values }}</p>


{% endblock body %}